# Object Files
*.o

# Errant Images
*.png
*.jpg
*.jpeg
*.gif

# Not images required for the test/main to run
!test_resources/too_big.png
!test_resources/image.png
!image.png

# Binaries
triangles
test

# OS X Crap
.DS_Store

